In [26]:

def my_function(a , b):
    result= (a * b)
    return result
print(my_function(3, 6))

18
<class 'int'>

In [12]:
ef dikdortgenAlan(genislik, yukseklik):
    alan = float(genislik) * float(yukseklik)
    return alan

SyntaxError: invalid syntax (1317488009.py, line 1)

In [18]:
shadow_var = print("It can't be assigned to any variable")
print(shadow_var)  # NoneType value can't be used

It can't be assigned to any variable
None

In [27]:
def my_function(a, b):
    hypotenuse = (a**2 + b**2)**0.5
    return hypotenuse
print(my_function (3,4))

5.0

In [30]:
def longer(a, b):
    if len(a) >= len(b):
        return a
    else:
        return b

print(longer('Richard', 'John'))

Richard

In [43]:
def my_function (a , b):
    sonuc=(a * b)
    return sonuc
print(my_function (10 * 20))

TypeError: my_function() missing 1 required positional argument: 'b'

In [44]:
def city(capital, continent='Europe'):
    print(capital, 'in', continent)

city('Athens')  # we don't have to pass any arguments into 'continent'
city('Ulaanbaatar', continent='Asia')  # we can change the default value by kwargs
city('Cape Town', 'Africa')  # we can change the default value by positional args.

Athens in Europe
Ulaanbaatar in Asia
Cape Town in Africa

Task : Print the Fizz Buzz numbers. Use ternary operator
Fizz Buzz is a famous code challenge used in interviews to test basic programming skills. It's time to write your own implementation.
Print numbers from 1 to 100 inclusively following these instructions:
if a number is multiple of 3, print "Fizz" instead of this number,
if a number is multiple of 5, print "Buzz" instead of this number,
for numbers that are multiples of both 3 and 5, print "FizzBuzz",
print the rest of the numbers unchanged.

In [ ]:
[for i in range(1,100)] if [i//3==0 ] else [on_false]

In [55]:
# [statement_on_True] if [condition] else [statement_on_false]
for i in range(1,100):
    print("FizzBuzz" if (not i % 3 and  not i % 5) else "Fizz" if ( not i % 3) else  "Buzz" if ( not i % 5) else i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [ ]:
if a != b:
    if a > b:
        print("a is greater than b")
    else:
        print("b is greater than a")
else:
    print("Both a and b are equal")

In [57]:
def make_sentence(**kwargs):
    result = ""
    # Iterating over the Python kwargs dictionary
    for i in kwargs.values():
        result += i
    return result

print(make_sentence(a="I ", b="love ", c="Clarusway!"))

I love Clarusway!

In [58]:
def team_league(team, league='Premier League'):
    print(team, 'in', league)

team_league('Liverpool')

Liverpool in Premier League

In [59]:
def my_function(first, last) : 
    print('Your first name is :', first)
    print('Your last name is :', last)

my_function(first='Richard', last='Rice')

Your first name is : Richard
Your last name is : Rice

In [60]:
a = 3
while a**2 < 299:
    print('I will stop smoking')
    a += 3

I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking

In [61]:
total = 149
country = "FR"

if country == "FR":
    if total <= 50:
        print("Shipping Cost is  €30")
    elif total <= 100:
        print("Shipping Cost is €15")
    elif total <= 150:
        print("Shipping Costs €10")
    else:
        print("Free Shipping")
if country == "DE": 
    if total <= 50:
        print("Shipping Cost is  €25")
    else:
        print("Free Shipping")

Shipping Costs €10

In [86]:
ps4_price = 300
saved_amount = int(input('Please enter your saved amount: '))
if saved_amount <= ps4_price / 2 :
    print ("You must save more, keep saving!")
if (saved_amount >= ps4_price / 2 ) and (saved_amount < ps4_price):
        print ("You saved more than half, keep saving!")
if saved_amount > ps4_price :
        print ("Yippee! You can buy your PS4")

Please enter your saved amount: 200
You saved more than half, keep saving!

85-100 ➔ A (Excellent)
70-84 ➔ B (Good)
60-69 ➔ C (Medium)
45-59 ➔ D (Not Bad)
0-44 ➔ F (Failed)

In [96]:
math_mark = int(input('Please enter the mark: '))
if(math_mark >=85):
    print("A (Excellent)")
elif(70 <= math_mark<=84):
    print("B (Good)")
elif(60 <= math_mark <=69):
    print("C (Medium)")
elif( 45 <= math_mark <=59):
    print("D (Not Bad)")
elif(math_mark <=44):
    print("F (Failed)")

Please enter the mark: 59
D (Not Bad)

In [100]:
a=998
if a >= 999 :
    print(a ** 0)  

else :
    print(a * 2)

1996

In [101]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in range (len (weekdays)):
    print('Day', day+1, ':', weekdays[day])

Day 1 : Monday
Day 2 : Tuesday
Day 3 : Wednesday
Day 4 : Thursday
Day 5 : Friday

In [102]:
a = 49
while a <= 62:
    print(a)
    a += 5

49
54
59

In [103]:
a = 49
while a % 2 != 0:
    print(a)
    a += 5

49

In [107]:
month = "April"
spring = "September, April, January"
autumn = "March, October, July"

if (month in spring) or (month in autumn):
    if month in autumn:
        print("This is a spring month")
    else:
        print("This is an autumn month")
else:
    print("This month is not categorized")

This is an autumn month

In [108]:
print("GİRİLEN SAYININ KARESİNİ HESAPLAYAN PROGRAM.\n")
 
sayi = int(input("Bir sayı girin: "))
 
sonuc = sayi*sayi
 
print("{} sayısının karesi {} sayısıdır.".format(sayi,sonuc))

GİRİLEN SAYININ KARESİNİ HESAPLAYAN PROGRAM.

Bir sayı girin: d

ValueError: invalid literal for int() with base 10: 'd'

In [113]:

sayi = int(input("Bir sayı girin: "))
for i in range(0,sayi):
    print(i*i)

Bir sayı girin: 3
0
1
4

In [ ]:

a=int(input("Bir sayı girin: "))
while :
    if a%2==0:
       print(a,end=",")
       a=a+1

In [8]:
lambda x