In [14]:
string = "yarın.akşam.python.dersi.var"
new_string = string.rsplit(".")
new2 = " ".join(new_string[::-1])
print(new2)

var dersi python akşam yarın

In [38]:
string = "yarın.akşam.python.dersi.var"
string_list = string.split(".")[::-1]
print(string_list[0],string_list[1],string_list[2],string_list[3],string_list[4])

var dersi python akşam yarın

In [39]:
liste = [1, 2, 3, 4, 5, 6]
n = int(input("Enter an integer to right rotate the given list :"))
list1 = liste[:-n]
list2 = liste[-n:]
print(list2 + list1)

Enter an integer to right rotate the given list :5
[2, 3, 4, 5, 6, 1]

In [48]:
a1=input("en sevdiğiniz 1.yiyeceği giriniz :")
a2=input("en sevdiğiniz 2.yiyeceği giriniz :")
a3=input("en sevdiğiniz 3.yiyeceği giriniz :")
a4=input("en sevdiğiniz 4.yiyeceği giriniz :")
dic  =  {[ 1 , 2 , 3, 4 ]:  a1,a2,a3,a4}

SyntaxError: invalid syntax (2492452564.py, line 5)

In [54]:
thisdict = {
  "food1": input("en sevdiğiniz 1.yiyeceği giriniz :"),
  "food2": input("en sevdiğiniz 2.yiyeceği giriniz :"),
  "food3" : input("en sevdiğiniz 3.yiyeceği giriniz :"),
  "food4" : input("en sevdiğiniz 4.yiyeceği giriniz :"),
  
}
print(thisdict)

print("Bu yazdıkların arasından çıkarmak istediğin var mı?")
del thisdict [input("çıkarmak istediğiniz yiyeceğin numarasını giriniz:")]
print(thisdict)

en sevdiğiniz 1.yiyeceği giriniz :elma
en sevdiğiniz 2.yiyeceği giriniz :armut
en sevdiğiniz 3.yiyeceği giriniz :ayva
en sevdiğiniz 4.yiyeceği giriniz :nar
{'food1': 'elma', 'food2': 'armut', 'food3': 'ayva', 'food4': 'nar'}
Bu yazdıkların arasından çıkarmak istediğin var mı?
çıkarmak istediğiniz yiyeceği giriniz:food1
{'food2': 'armut', 'food3': 'ayva', 'food4': 'nar'}

In [115]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True }

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

{'Dede': 'mahmut', 'anne': 'pınar', 'baba': 'tunahan', 'kız': 'zeynep', 'erkek': 'kerem'}
<class 'dict'>
mahmut

In [58]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False,'tunahan':'ozdogan'})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False, 'tunahan': 'ozdogan'}

In [67]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}
print(dict_by_dict)
del dict_by_dict['animal']
del dict_by_dict['number']
print(dict_by_dict)
dict_by_dict.update({'is_bad': False,'tunahan':'ozdogan', 'Turkey' :'Ankara', 16 : 'Bursa plaka'})
print(dict_by_dict)
print('pi' in dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}
{'planet': 'neptun', 'pi': 3.14, 'is_good': True}
{'planet': 'neptun', 'pi': 3.14, 'is_good': True, 'is_bad': False, 'tunahan': 'ozdogan', 'Turkey': 'Ankara', 16: 'Bursa plaka'}
True

In [68]:
capitals = {"Springfield": "Illinois", 
            "Augusta": "Maine", 
            "Boston": "Massachusetts", 
            "Lansing": "Michigan", 
            "Albany": "New York", 
            "Olympia": "Washington", 
            "Toronto": "Ontario"}
(city, state) = capitals.popitem()
(city, state)

('Toronto', 'Ontario')

In [69]:
sozluk = {
  "uretici": "Renault",
  "model": "Clio",
  "yil": 2009
}
print(sozluk)

{'uretici': 'Renault', 'model': 'Clio', 'yil': 2009}

In [71]:
x = sozluk["model"]
print(x)

Clio

In [74]:
otomobil = {
  "uretici": "Renault",
  "model": "Clio",
  "yil": 2009
}
otomobil["yil"] = 2020
print(otomobil);

{'uretici': 'Renault', 'model': 'Clio', 'yil': 2020}

In [80]:
gunler = {
	"Pazartesi": 1,
	"Salı": 2,
	"Çarşamba": 3
}
gunler["Perşembe"] = 4
gunler["cuma"] = 5
print(gunler)
del gunler ["Salı"]
print(gunler)

{'Pazartesi': 1, 'Salı': 2, 'Çarşamba': 3, 'Perşembe': 4, 'cuma': 5}
{'Pazartesi': 1, 'Çarşamba': 3, 'Perşembe': 4, 'cuma': 5}

In [84]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
metin="My two favorite flowers are {} and {}, two favorite colors \
are {} and {}.".format (flowers [0][2],flowers[0][1][1], colors [1][0],colors[1][1][1])
print(metin)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [86]:
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

print(colorset)
print(colorset)

{'darkblue', 'purple', 'yellow', 'orange', 'red'}
{'darkblue', 'purple', 'yellow', 'orange', 'red'}

In [87]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

{'orchid', 'rose', 'violet', 'carnation'}
['orchid', 'rose', 'violet', 'carnation']

In [89]:
a = set('abracadabra')

print(a)

{'c', 'b', 'd', 'a', 'r'}

In [90]:
b = set('alacazam')
print(b)

{'z', 'l', 'm', 'c', 'a'}

In [88]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

{'r', 'd', 'b'}
{'r', 'd', 'b'}

In [91]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b

{'z', 'l', 'c', 'b', 'm', 'd', 'a', 'r'}
{'z', 'l', 'c', 'b', 'm', 'd', 'a', 'r'}

In [95]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b.union(a))

{'c', 'b', 'd', 'a', 'r'}
{'z', 'l', 'm', 'c', 'b', 'd', 'a', 'r'}

In [102]:
a_s={"ali":'elma',"deli" :1 ,"veli":1}
print(a_s)

{'ali': 'elma', 'deli': 1, 'veli': 1}

In [120]:
a_s['ali'] +='elma'
print(a_s)

{'ali': 'elmaahmetelma', 'deli': 1, 'veli': 1}

In [105]:
dict_by_dict = dict(animal = "dog", planet = "neptun", number = 40, pi = 3.14, is_good = True)
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [108]:
print(dict_by_dict["animal"])

dog

In [112]:
dict_by_dict.update(zoo = ['at','yılan'])
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'zoo': ['at', 'yılan']}

In [114]:
print (type(dict_by_dict["zoo"]))

<class 'list'>

In [116]:
print(len(dict_by_dict))

5

In [121]:
dict_by_dict.items()

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

In [122]:
type(dict_by_dict.items())

dict_items

In [123]:
capitals.items()

dict_items([('Springfield', 'Illinois'), ('Augusta', 'Maine'), ('Boston', 'Massachusetts'), ('Lansing', 'Michigan'), ('Albany', 'New York'), ('Olympia', 'Washington')])

In [124]:
type(capitals.items())

dict_items

In [125]:
list(dict_by_dict.items())

[('animal', 'dog'),
 ('planet', 'neptun'),
 ('number', 40),
 ('pi', 3.14),
 ('is_good', True)]

In [136]:
tuple((dict_by_dict))

('animal', 'planet', 'number', 'pi', 'is_good')

In [132]:
type(tuple(dict_by_dict))

tuple

In [127]:
tuple(dict_by_dict.keys())

('animal', 'planet', 'number', 'pi', 'is_good')

In [131]:
type(tuple(dict_by_dict.keys()))

tuple

In [128]:
tuple(dict_by_dict.values())

('dog', 'neptun', 40, 3.14, True)

In [138]:
x,y,z,d,c=dict_by_dict.items()

In [140]:
print(x)
print(c)

('animal', 'dog')
('is_good', True)

In [143]:
items=list(dict_by_dict.items())
items[0]

('animal', 'dog')

In [144]:
x,y =items[0]  #list haline getirip içindeki tuple larda  key ve valueleri değiştirebilir, atayabiliriz.

In [145]:
print(y)

dog

In [ ]:
x;y= "animal", "dog"  # tuple bir atama oldu. parantez olmasa bile.

In [147]:
tuple(dict_by_dict.keys())

('animal', 'planet', 'number', 'pi', 'is_good')

In [148]:
set(dict_by_dict.values())

{3.14, 40, True, 'dog', 'neptun'}

In [149]:
type(set(dict_by_dict.values()))

set

In [151]:
family= {'name1': 'edwin',
        'name2': 'bella',
         'name3': 'aisha',
         'name4': 'tom'      
        }
print(family)

{'name1': 'edwin', 'name2': 'bella', 'name3': 'aisha', 'name4': 'tom'}

In [152]:
list(family.items())

[('name1', 'edwin'), ('name2', 'bella'), ('name3', 'aisha'), ('name4', 'tom')]

In [158]:
family['name5']='ali'

In [159]:
print(family)

{'name1': 'edwin', 'name2': 'bella', 'name3': 'aisha', 'name4': 'tom', 'name6': 'han', 'name5': 'ali'}

In [157]:
family.update({"name6":"han"})
family

{'name1': 'edwin',
 'name2': 'bella',
 'name3': 'aisha',
 'name4': 'tom',
 'name6': 'han'}

In [160]:
family.update({"name2":"ahmet"})   # yeniden atama yapar.
family

{'name1': 'edwin',
 'name2': 'ahmet',
 'name3': 'aisha',
 'name4': 'tom',
 'name6': 'han',
 'name5': 'ali'}

In [162]:
del family["name1"]

KeyError: 'name1'

In [163]:
family

{'name2': 'ahmet',
 'name3': 'aisha',
 'name4': 'tom',
 'name6': 'han',
 'name5': 'ali'}

In [166]:
copy family["name3"]

Sistem belirtilen dosyayı bulamıyor.

In [167]:
family

{'name2': 'ahmet',
 'name3': 'aisha',
 'name4': 'tom',
 'name6': 'han',
 'name5': 'ali'}

In [172]:
"ahmet" in family.values()

True

In [173]:
"name5" in family

True

In [175]:
bootcamp="c l a r u s w a y"
bootcamp.split()

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [176]:
print(bootcamp)

c l a r u s w a y

In [177]:
bootcamp=bootcamp.split()

In [178]:
print(bootcamp)

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [181]:
type(bootcamp)

list

In [179]:
ıvırzıvır="ali-deli-veli".split("-")
ıvırzıvır

['ali', 'deli', 'veli']

In [180]:
"a" in bootcamp

True

In [186]:
"dog" in dict_by_dict.values()

True

In [190]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}
print(len(school_records))

2

In [ ]:
kortex={
    "arkadaş": {
        "arki": {"first": "musa", "last": "Akbay"}, 
        "arki1": {"first": "esra", "last": "yıldız"}
    },
    "aile": {
        "aile": {"first": "pınar", "last": "han"},
        "aile1": {"first": "miray", "last": "han"},
        "aile2": {"first": "mirza", "last": "han"}
    }   
}

In [205]:
school_records["personal_info"]

{'kid': {'tom': {'class': 'intermediate', 'age': 10},
  'sue': {'class': 'elementary', 'age': 8}},
 'teen': {'joseph': {'class': 'college', 'age': 19},
  'marry': {'class': 'high school', 'age': 16}}}

In [209]:
type(school_records["personal_info"])

dict

In [208]:
school_records.items()

dict_items([('personal_info', {'kid': {'tom': {'class': 'intermediate', 'age': 10}, 'sue': {'class': 'elementary', 'age': 8}}, 'teen': {'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}}), ('grades_info', {'kid': {'tom': {'math': 88, 'speech': 69}, 'sue': {'math': 90, 'speech': 81}}, 'teen': {'joseph': {'coding': 80, 'math': 89}, 'marry': {'coding': 70, 'math': 96}}})])

In [212]:
school_records.setdefault()

In [226]:
school_records["grades_info"]["kid"]["tom"]["math"]

88

In [227]:
type(school_records["grades_info"]["kid"]["tom"]["math"])

int

In [228]:
list(school_records)

['personal_info', 'grades_info', 'kid']

In [ ]:
a = (word + seperator) * (repetetion)+ '\b'

In [229]:
word = input("word: ")
seperator = input("Seperator")
repetetion = int(input("repetetion"))
a = (word + seperator) * (repetetion)+ '\b'
print(a)

word: ahmet
Seperator=
repetetion4
ahmet=ahmet=ahmet=ahmet