In [1]:
mon,tue,wed,thu,fri,sat,sun = tuple(range(1,8))   # atamak

In [2]:
mon

1

In [4]:
a,b,c= 1,2,3   # atama yapıldı   her iki tarafta eşit olmalı atama olması için.

In [5]:
a

1

In [6]:
mytuple=("apple","banana","cherry")   #tuplepackink

In [10]:
green,yellow,red = mytuple          #tupleunpaciking

ValueError: too many values to unpack (expected 2)

In [8]:
green

'apple'

In [9]:
[1,2,3] + ["ali","veli"] + [4.0]           # iki liste toplama

[1, 2, 3, 'ali', 'veli']

In [11]:
like=(10,20,30,40)
a=like[0]

In [12]:
a

10

In [ ]:
a,b=(10,20,30,40)      # burada her iki taraf eleman sayısı eşit olmadığı için atama yapamayız

In [13]:
(a,_,b,_)=(10,20,30,40)   # bu şekilde yaparız. alengir

In [14]:
a

10

In [ ]:
x,y,z = (11,22,33,44,55)         #x 11 y 22 z iswe geri kalanlar olmasını istersek

In [ ]:
x,y,*z = (11,22,33,44,55)    # yaparsak z ayrı bir liste olacak

In [ ]:
x,y,*_ = (11,22,33,44,55)    # hem çalışır hemde hafızada yer kaplamaz.

In [ ]:
x,y,*z,t=(11,22,33,44,55,66,77) # x 11 y 22 t en sonu arada kalanları z alır.

In [ ]:
iter()

In [24]:
mytuple=("apple","banana","cherry") 
myiterator= iter(mytuple)

In [17]:
print(*myiterator)

apple banana cherry

In [25]:
next(myiterator)     # sırayla kullanıyor sonra içi boşalıyor.

'apple'

In [26]:
next(myiterator)

'banana'

In [27]:
next(myiterator)

'cherry'

In [28]:
next(myiterator)               #içi boşalıyor. bak boş.

StopIteration:

In [30]:
myiter=iter("edwin")

In [31]:
next(myiter)

'e'

In [ ]:
#list Comprehension

In [ ]:
#kendi kendine generate etmesinden bahsediyoruz. for döngüsü gibi
#her döngüde her iteresyonda bir eleman üretiyor . iterable nin elemanları bittiğinde 
#elimde oluşmuş bir liste kalıyor.

In [32]:
sayılar = []

for n in range(5):
    sayılar .append(n)
sayılar

[0, 1, 2, 3, 4]

In [38]:
sayılar = []

for n in range(5):
    sayılar .append(n)
    print(n)
print("-----------")
print(sayılar)

0
1
2
3
4
-----------
[0, 1, 2, 3, 4]

In [40]:
[i for i in range (5)]                 # her saydığında baştaki [i    ] ye ekliyor

[0, 1, 2, 3, 4]

In [49]:
[i**2 for i in range (5)] 

                                   # listeyi kare olarak istersek

[0, 1, 4, 9, 16]

In [ ]:
#yazarların isim ve soyisimleri baş harfleri büyük olsun isteniyor.

In [50]:
yazarlar = ["jane austen","george orwell","james clear","cal newport"]
yazar_listesi=[i.title() for i in yazarlar]
yazar_listesi

['Jane Austen', 'George Orwell', 'James Clear', 'Cal Newport']

In [51]:
a=[4,5,6,7]                # a ve b yi kullanarak dikdörtgenin alanı bulunsun
b=[8,9,10,11]

In [52]:
list(zip(a,b))

[(4, 8), (5, 9), (6, 10), (7, 11)]

In [53]:
alan_liste=[]             # list ilşe değilkde for la yapmak istersek
for i in zip (a,b):
    alan_liste.append(i)
alan_liste

[(4, 8), (5, 9), (6, 10), (7, 11)]

In [54]:
alan_liste[0]

(4, 8)

In [55]:
j,k =alan_liste[0]

In [56]:
print(j)
print(k)

4
8

In [57]:
liste=list(zip(a,b))

In [59]:
alan=[]
for i in range(len(liste)):
    j,k=liste[i]
    alan.append(j*k)
alan

[32, 45, 60, 77]

In [60]:
liste

[(4, 8), (5, 9), (6, 10), (7, 11)]

In [63]:
alan= []
for i,j in liste:
    alan.append(i*j)
alan

[32, 45, 60, 77]

In [64]:
area= [i*j for i,j in liste]
area

[32, 45, 60, 77]

In [ ]:

#teranry boolean operatörs 
#if condition:
 #   execute1
#else:
  #  execute2
    
   # execute1 if condition else execute2

In [71]:
mylist=[1,2,3,4,5,6]
new_list=[]
for i in mylist:
    if i % 2 == 1:     # bu tek sayıdır  burada ==1 yazmadanda yapabiilriz
        new_list.append(i**2)
print(new_list)

[1, 9, 25]

In [2]:
mylist=[1,2,3,4,5,6]
new_list=[]
for i in mylist:
    if i % 2 :                   #bak burada
        new_list.append(i**2)
print(new_list)

[1, 9, 25]

In [74]:
[i **2 for i in mylist]    # buda tek satır da

[1, 4, 9, 16, 25, 36]

In [75]:
[i **2 for i in mylist  if i % 2]

[1, 9, 25]

In [3]:
[i **2 for i in mylist]  if [i % 2] else [i ** 3 for i in mylist ]

[1, 4, 9, 16, 25, 36]

In [82]:

if i % 2: (i **2 for i in mylist) else: (i ** 3 for i in mylist)

SyntaxError: invalid syntax (729194298.py, line 1)

In [ ]:
if <condition>: <expression1> else: <expression2>

In [4]:
my_list = [1, 2, 3, 4, 5, 6]
[i ** 2 for i in my_list  if i % 2 else i ** 3 for i in my_list]

SyntaxError: invalid syntax (2258132058.py, line 2)

In [5]:
my_list = [1, 2, 3, 4, 5]

new_list = [i ** 2 for i in my_list ] if[ i % 2] else [i ** 3 for i in my_list]

print(new_list)

[1, 4, 9, 16, 25]

In [91]:
lista=["susan","tom",False, 0 ,"0"]
filterlist=filter(None,lista)
for i in filterlist:
    print(i)

susan
tom
0

In [6]:
x = 90
grade = "A+" if x >= 95 else "A" if x >= 90 else "B+" if x >= 85 else "B" if x >= 80 else "C" if x >= 70 else "D"
grade

'A'