In [74]:
def harf_bul():
    metin = input("harfleri sayılcak metni giriniz : ").replace(' ', '')
    text=("ABCDEFGHIİJKLMNOÖPRSTUÜVWYZabcdefghıijklmnoöprstuüvwyz") 
    number=("0123456789")
    uzunluk=0
    num_uzunluk =0
    ohter_uzunluk =0
    for x in metin:
        if x in text:
            uzunluk=uzunluk+1
        elif x in number:
                num_uzunluk = num_uzunluk + 1
        else:
                ohter_uzunluk +=1
    print(f'metin uzunluğu:{uzunluk} rakam uzunluğu {num_uzunluk} özel char uzunluğu {ohter_uzunluk}')

In [75]:
harf_bul()

harfleri sayılcak metni giriniz : jksdfhlkjashdfkljhasd81423583218945708314()&?=(&/?=)(&/
metin uzunluğu:21 rakam uzunluğu 20 özel char uzunluğu 14

In [21]:
text=("ABCDEFGHIİJKLMNOÖPRSTUÜVWYZabcdefghıijklmnoöprstuüvwyz") 
len(text)

54

In [1]:
def factor(x):

    result = 1
    for i in range(x):
        result *= (i+1)
    return print(result)

In [77]:
factor(5)

120

In [78]:
import string as stg  # we've used alias for 'string' module

print(stg.punctuation)  # prints all available punctuation marks
print(stg.digits)  # prints all the digits

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
0123456789

In [79]:
import datetime

print(datetime.date.today())  # prints today's date (yyyy-mm-dd)
print(datetime.datetime.now())  # prints the current time in microseconds

2022-11-09
2022-11-09 19:31:24.461237

In [80]:
from random import choice

city = ['Stockholm', 'Istanbul', 'Seul', 'Cape Town']
print(choice(city))

Cape Town

In [82]:
import random
print(random.random())

0.7367849851838318

In [2]:
def square(x):
    return x**2

In [3]:
square(4)

16

In [85]:
lambda x: x**2

In [ ]:
lambda x: 'odd' if x % 2 != 0 else 'even'

In [86]:
print((lambda x: x**2)(2))

4

In [87]:
print((lambda x, y: (x+y)/2)(3, 5))

4.0

In [ ]:
average = (lambda x, y: (x+y)/2)(3, 5) 
print(average)

In [ ]:
print(echo_word('hello', 3))

In [88]:
echo_word = lambda x,y : x * y
print(echo_word('hello', 3))

hellohellohello

In [89]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(list(map(lambda x:x**2, iterable)))  # you can print directly

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [114]:
def square(n):  
    return n**2  
  
iterable = [1, 2, 3, 4, 5]
result = map(square, [1, 2, 3, 4, 5])

In [113]:
print(list(result))

[1, 4, 9, 16, 25]

In [115]:
print(*result)

1 4 9 16 25

In [107]:
print(*(map(square, [1, 2, 3, 4, 5]) ))

1 4 9 16 25

In [91]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [121]:
letter1 = ['s', 'v', 'b', 'b', 'o','l']
letter2 = ['e', 'e', 'e', 'i', 'l','ı']
letter3 = ['n', ' ', 'n', 'z', 'a','m']
numbers = map(lambda x, y, z : x+y+z , letter1, letter2, letter3)

print(list(numbers))

['sen', 've ', 'ben', 'biz', 'ola', 'lım']

In [94]:
number_list = [1, 2, 3, 4, 5]

result = list(map(lambda x :x*3, number_list))

In [95]:
print(result)

[3, 6, 9, 12, 15]

In [96]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
  
even = filter(lambda x:x%2==0, first_ten) 
print(type(even))  # it's 'filter' type, 
                   # in order to print the result,
                   # we'd better convert it into the list type

print('Even numbers are :', list(even))

<class 'filter'>
Even numbers are : [0, 2, 4, 6, 8]

In [97]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 

print('Vowels are :', list(vowels))

Vowels are : ['a', 'e', 'i']

In [174]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
vowels = filter(lambda x: x in ,first_ten) 

print('Vowels are :', list(vowels))

SyntaxError: invalid syntax (3480675288.py, line 4)

In [116]:
topla = lambda x, y, z: x+y+z

topla ("a" , "l","i")

'ali'

In [122]:
w1=["you","munch","hard"]
w2=["i","you","he"]
w3=["love","ate","works"]

In [125]:
words = map(lambda x, y, z : x+" "+y+" "+z , w2, w3, w1)

print(list(words))

['i love you', 'you ate munch', 'he works hard']

In [129]:
words = map(lambda x, y, z : y +" "+ x +" "+ z , w1, w2, w3)
print(list(words))

['i you love', 'you munch ate', 'he hard works']

In [134]:
words = ["apple","swim","clock","me","kiwi","banana"]
for i in filter(lambda x : len(x) < 5, words) :
    print(i)

swim
me
kiwi

In [166]:
letter1 = "a b c".split()
letter2 = "x y z".split()

res =map(lambda x, y : (x,y), letter1, letter2)

[('a', 'x'), ('b', 'y'), ('c', 'z')]
('a', 'x')
('b', 'y')
('c', 'z')

In [144]:
letter1

['a', 'b', 'c']

In [145]:
letter2

['x,y,z']

In [156]:
map(zip,letter1,letter2)

In [169]:
birleş=map(zip,letter1,letter2)

In [170]:
list(birleş)

In [162]:
birleş=map(zip,letter1,letter2)
for i in birleş:
    for j in i:
        print(j)

('a', 'x')
('b', 'y')
('c', 'z')

In [171]:
list(zip(letter1[2],letter2[2]))

[('c', 'z')]

In [172]:
list(zip(letter1[1],letter2[1]))

[('b', 'y')]

In [ ]:
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [173]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  
repeat_3_times = repeater(3)  
repeat_4_times = repeater(4)  

print(repeat_2_times('tuna'))
print(repeat_3_times('han '))
print(repeat_4_times('kerem '))

alex alex
lara lara lara
linda linda linda linda

In [179]:
def moduler_function(n):
    return lambda x: x ** n
    
power_of_2 = moduler_function(2)  
power_of_3 = moduler_function(2)  
power_of_4 = moduler_function(2)  #

print(power_of_2(2))
print(power_of_3(3))
print(power_of_4(4))

SyntaxError: invalid syntax (3984338516.py, line 2)

NameError: name 'cmd' is not defined