<a href="https://colab.research.google.com/github/tunahanozdogan/gitclass1/blob/main/ucuncugun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
text1 = "I have learned strings" # surrounded with double quotes
print(text1)

I have learned strings

In [ ]:
e_mail = 'joseph@clarusway.com' # surrounded with single quotes
print(e_mail)

joseph@clarusway.com

In [ ]:
isim = input('İsminizi Girin : ')
print("Merhaba "+isim)

İsminizi Girin : sfdfs
Merhaba sfdfs

In [ ]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))
example2 = '71'
print(type(example2))
example3 = 71
print(type(example3))
example4 = 71.0
print(type(example4))
example5 = 3.14j
print(type(example5))
example6 = True
print(type(example6))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [ ]:
f = 3.14  # the type is float
print(type(f)) 
s = str(f)  # converting float to string
print(type(s))

<class 'float'>
<class 'str'>

In [ ]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"
print(type(x))
print(type(v))
print(type(y))
print(type(x))
print(x-int(v))
print(x-float(y))
print(z+str(x))
print('v', type(v))
print('y', type(y))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
28
36.5
I am at_39
v <class 'str'>
y <class 'str'>

In [ ]:
a=10
print(type (str(a)))

<class 'str'>

In [ ]:
a = 36.5
b = '30'
c = '3.5'
d = ' F is enough for room temperature.'

print(str(a+int(b)+float(c))+d)

70.0 F is enough for room temperature.

In [ ]:
color = 'red'  # str type variable
season = 'summer'
price = 250  # int type variable
pi = 3.14  # float type variable
color = 'blue'  # You can always assign a new value to a created variable
price = 100  # value of 'price' is changed
season = 'winter'  

print(color, price, season,pi)

blue 100 winter 3.14

In [ ]:
n='''2020'''
print(n)

2020

In [ ]:
print(("'hello'"),(3.14) , ('74') ,sep='\b')

In [ ]:
print('C:\\november\number_expenditure.txt')

C:\november
umber_expenditure.txt

In [ ]:
text1='it'
text2='easy'
print(text1, '\'s very ',text2)

it 's very  easy

In [ ]:
print(2 and 1)

1

In [ ]:
fruit = 'Orange'

print('Word                   : ' , fruit[:4])
print('First letter           : ' , fruit[2:5:1])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Oran
First letter           :  ang
Second letter          :  r
3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

In [ ]:
city = '123456789'
print(city[0])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[0::3])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

1
123456
147
2468
789
987654321

In [ ]:
print("{0} {1}".format('first', 'second'))

first second

In [ ]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith(".", 15, 24))

28
True
False

In [ ]:
x=""
print(x)

In [ ]:
if_or_else="hksdjhf"
print(if_or_else)

hksdjhf

In [ ]:
a=b=c=ali
print(a)

In [ ]:
x=15
y=33
z=x
x=y
print(x)
print(y)
print(z)

33
33
15

In [ ]:
a,b,c=5,3.2,"h"
print(a)
print(b)
print(c)

5
3.2
h

In [ ]:
float(3)

3.0

In [ ]:
int("10")

10

In [ ]:
p1="a"
p2=10

In [ ]:
print("first line")
# print("second line")
print("third line")  # print("forth line")

first line
third line

In [ ]:
banana_price=2
total_amount_bought=5
print(banana_price*total_amount_bought)

10

In [ ]:
path = 'clarusway'
print(path[3:5])
print(path[4:])

ru
usway

In [ ]:
sentence = 'With hard work and dedication, anything is possible.'
print(sentence.replace("i", "1"))
print(sentence.lower())
print(sentence.swapcase())
print(sentence.title())
print(sentence.upper())

W1th hard work and ded1cat1on, anyth1ng 1s poss1ble.
with hard work and dedication, anything is possible.
wITH HARD WORK AND DEDICATION, ANYTHING IS POSSIBLE.
With Hard Work And Dedication, Anything Is Possible.
WITH HARD WORK AND DEDICATION, ANYTHING IS POSSIBLE.

In [ ]:
print('www', 'clarusway', "com", sep='.', end=' ')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

www.clarusway.com will open your path.

In [ ]:
print("clarusway" + str(2020))

clarusway2020

In [ ]:
number_int=123
number_str="456"
print("Data type of number_int:    ", type(number_int))
print("Data type of number_str before type Casting:", type(number_str))
number_str=int(number_str)
print("Data type of number_str after type Casting:", type(number_str))
number_sum=number_int+number_str
print("Sum of number-int and number_str:",number_sum)
print("Data type of the sum:",type(number_sum))

Data type of number_int:     <class 'int'>
Data type of number_str before type Casting: <class 'str'>
Data type of number_str after type Casting: <class 'int'>
Sum of number-int and number_str: 579
Data type of the sum: <class 'int'>

In [ ]:
number_int=123
number_str="1,23
print("Data type of number_int:", type(number_int))
print("Data type of number_str:", type(number_str))
print(number_int + number_str)

In [ ]:
number_int=123
number_flt=1.23
number_new=number_int + number_flt
print("Datatype of number_int:", type(number_int))
print("Datatype of number_flt:", type(number_flt))
print("Value of number_new:",number_new)
print("Datatype of number_new:",type(number_new))

Datatype of number_int: <class 'int'>
Datatype of number_flt: <class 'float'>
Value of number_new: 124.23
Datatype of number_new: <class 'float'>