# Bir cicekcide içiçe 3 büyük sepet vardır. En içteki en küçük sepette karanfil, papatya ve gül vardır.
# En küçük sepetin içinde olduğu orta boylu sepette bir de lale vardır.
# tüm bunların içinde olduğu en büyük sepette ise bunlara ilaveten menekşe, nergis ve sümbül vardır.
# Çiçeklerden bir liste oluşturarak, string format metoduyla çiçekçiden 2 adet gül ve 3 adet lale istediğinizi belirten bir kod yazınız.

In [12]:
vitrin = [[["Gül", "Karanfil", "Papatya"],"Lale"],\
           "Menekşe", "Nergis", "Sümbül"]

istek  = "2 adet {} ve 3 adet {} {} verir misiniz?"
print(istek.format(vitrin[0][0][0], vitrin[0][1], vitrin [2]))

2 adet Gül ve 3 adet Lale Nergis verir misiniz?

#Task: "Her gün, her hafta, bilgime yeni bilgiler katıyorum, bu beni çok motive ediyor." textinde her virgülden sonra "#" #karakteri, her boşluktan sonra da "_" karakteri gelsin istiyoruz.

In [15]:
"Her gün, her hafta, bilgime yeni bilgiler katıyorum, bu beni çok motive ediyor.\
".replace(',',',' + chr(35)).replace(' ', ' ' + chr(95))

'Her _gün,# _her _hafta,# _bilgime _yeni _bilgiler _katıyorum,# _bu _beni _çok _motive _ediyor.'

In [17]:
chr(35)
chr(95)

'_'

Task: Girilen sayının tek veya çift olma durumunu, ayrıca 3'e bölünüp bölünememe durumunu ekrana şu şekilde yazdıran bir program yazınız:
"5 is an odd number  and it can not be divided into 3"

In [40]:
sayi = input('Sayı : ')
if (int(sayi)%2==0):
      print( sayi ,"Sayısı Çiftir ve")
else:
      print(sayi ,"Sayısı Tektir ve")
    
if (int(sayi)%3==0):
      print(" 3' e bölünebilir.")
else:
      print("3' e bölünemez.")

Sayı : 79
79 Sayısı Tektir ve
3' e bölünemez.

In [210]:
numbers =range(1,11)
my_list=list(numbers)
my_list[0::2]
print(my_list)

TypeError: 'list' object is not callable

In [84]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [122]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = flowers[0][2]
text2= flowers[0][1][1]
text3=colors[1][0]
text4=colors[1][1][1]
print("My two favorite flowers are {} and {} , two favorite colors are {} and {} .".format(text,text2,text3,text4))

My two favorite flowers are tulip and rose , two favorite colors are blue and green .
tulip
rose
blue
green

In [ ]:
text = "My two favorite flowers are tulip and rose, two favorite colors are blue and green."

In [ ]:
sentence = "I am 40 years old. I have two children. Data Science is my IT domain."

In [150]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain."

print("I am 40 years old.{} I have two children.{} Data Science is my IT domain.".format("\n\t" , "\n\t\t"))

I am 40 years old.
	 I have two children.
		 Data Science is my IT domain.

In [155]:
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type.

('love',)
<class 'tuple'>

In [157]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

['mercury', 'jupiter', 'saturn']
<class 'list'>

In [159]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)
city_list.index('Moskow')

['Athens', 'Cairo', 'Moskow', 'Dublin']

2

In [161]:
sayilar = [12,17,4,9,32,45]
buyukten_kucuge = sorted(sayilar)
buyukten_kucuge.reverse()
print (buyukten_kucuge)

[45, 32, 17, 12, 9, 4]

In [184]:
sayilar = [1,2,3,4,6,82,5,4,8,7,6,78,9,96,43,]
sayilar.sort(reverse=True)
print(sayilar)

[96, 82, 78, 43, 9, 8, 7, 6, 6, 5, 4, 4, 3, 2, 1]

In [182]:
# liste_adi.reverse()
harfler = ['d', 'c','b','a','eee','fb','gs']
harfler.reverse()
print (harfler)
# Sonuc

['gs', 'fb', 'eee', 'a', 'b', 'c', 'd']

In [187]:
sayilar = [12,17,4,9,32,45]
buyukten_kucuge = sorted(sayilar)
#buyukten_kucuge.reverse()
print (buyukten_kucuge)

[4, 9, 12, 17, 32, 45]

In [188]:
harfler = ['d', 'c','b','a','eee','fb','gs']
harfler.reverse()
print (harfler)

['gs', 'fb', 'eee', 'a', 'b', 'c', 'd']

NameError: name 'a' is not defined

In [201]:
list2 = list(range(1,11))
print(list2[0:10:2])

TypeError: 'list' object is not callable

In [203]:
list_name = list(range(1,11))
list_name[1:11:2]

TypeError: 'list' object is not callable

In [226]:
list(range(-10, 0,-1))

TypeError: 'list' object is not callable

In [223]:
print(len([[1,2,3]][0]))

3

In [232]:
list(range(1, 10,1))

TypeError: 'list' object is not callable