######                            Tuple and Dict

In [3]:
import sys

In [4]:
x=[1,2,3]
y=(1,2,3)
print(sys.getsizeof(x))
print(sys.getsizeof(y))

120
64

In [5]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method
print(state_capitals['Georgia'])
print(state_capitals['California'])

Denver
Atlanta
Sacramento

In [6]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [10]:
sehir_yemek = {'Adana': 'Kebap' , 'Sivas' : 'Köfte' , 'Urfa' : 'Ciğer',
                'Ankara' : 'tava' ,'Hatay' : 'Künefe' 
              }
print(sehir_yemek) 
print(sehir_yemek['Adana'])
print(sehir_yemek['Sivas'])
print(sehir_yemek['Urfa'])
print(sehir_yemek['Ankara'])
print(sehir_yemek['Hatay'])

{'Adana': 'Kebap', 'Sivas': 'Köfte', 'Urfa': 'Ciğer', 'Ankara': 'tava', 'Hatay': 'Künefe'}
Kebap
Köfte
Ciğer
tava
Künefe

In [15]:
sehir_yemek = {'Adana': 'Kebap' , 'Sivas' : 'Köfte' , 'Urfa' : 'Ciğer',
                'Ankara' : 'tava' ,'Hatay' : 'Künefe' 
              }
print(len(sehir_yemek))
print(type(sehir_yemek))

5
<class 'dict'>

In [17]:
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}
print(mix_values)
print(mix_keys)

{'animal': ('dog', 'cat'), 'planet': ['Neptun', 'Saturn', 'Jupiter'], 'number': 40, 'pi': 3.14, 'is_good': True}
{22: 'integer', 1.2: 'float', True: 'boolean', 'key': 'string'}

In [16]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [18]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [19]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [21]:
dict_by_dict = {'animal': 'dog',
               'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print(dict_by_dict) 
del dict_by_dict['animal']

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}
{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [22]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}
print(dict_by_dict) 
print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'
print('number' not in dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}
True
True
False

In [25]:
ict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}
print(dict_by_dict) 
print('is_bad' not in dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}
False

In [89]:
print (ict_by_dict['pi'])

3.14

In [93]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print((student_ages['Clark'],["Peter"]))

(32, ['Peter'])

# iç içe Dict

In [28]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}
print(school_records['personal_info']['teen']['marry']['age'])

16

In [29]:
print(school_records['personal_info']['teen'])

{'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}

In [34]:
print(school_records["grades_info"]["kid"]["tom"])

{'math': 88, 'speech': 69}

In [35]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}
print(customers ['insurance'][5]['age'])

22

In [36]:
my_tuple=(1,2,3,4,5,6,7,4)
my_list= list(my_tuple)
print(my_tuple)
print(type(my_list), my_list)

(1, 2, 3, 4, 5, 6, 7, 4)
<class 'list'> [1, 2, 3, 4, 5, 6, 7, 4]

In [59]:
asdf = list(my_tuple)
print(asdf)
asdf[1]=33
print(asdf)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 33, 3, 4, 5, 6, 7, 8, 9]

In [38]:
1,2,3    # herhangi bir şey yazmadan bu şekilde çalışırsa tuple olarak algılar Phyton !

(1, 2, 3)

In [62]:
a= tuple('Alps')
print(a)
a[1]= "c"

('A', 'l', 'p', 's')

TypeError: 'tuple' object does not support item assignment

In [41]:
t1='h','a','p','p','y'
t2=1,3,5
print(t1)
print(type (t1))
print(t2)

('h', 'a', 'p', 'p', 'y')
<class 'tuple'>
(1, 3, 5)

In [53]:

m = tuple(range(1,10))
print(* m)

1 2 3 4 5 6 7 8 9

In [52]:
m= tuple(range(1,11))       #iterable bir dizi üretiyor.
print(m,type(m),sep="\n")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [71]:
a=("1",11,[2,"two",("six",6)],(6,"fair"))
a[-1][1]

'fair'

In [75]:
soz= {"ali":2 ,"ali": 4, "deli": 5}
soz

{'ali': 4, 'deli': 5}

If you specify a key a second time during the initial creation of a dictionary, then the second occurrence will OVERRIDE the first.

In [76]:
soz= {"ali":2 ,"ali": 4}
soz

{'ali': 4}

In [77]:
dict(isim ="ali", isim ="veli")# aynı isimli key olmaz

SyntaxError: keyword argument repeated: isim (663026440.py, line 1)

In [79]:
dict(sayılar =[1,2,3], harfler ={1:"bir"} )

{'sayılar': [1, 2, 3], 'harfler': {1: 'bir'}}

https://files.slack.com/files-pri/T04561FJ8FJ-F047L3WDQAH/image.png

In [ ]:
https://files.slack.com/files-pri/T04561FJ8FJ-F048CP393LY/image.png

 https://ds1322eu.slack.com/files/U044V4CBMPB/F047L3WDQAH/image.png

In [ ]:
https://files.slack.com/files-pri/T04561FJ8FJ-F047L3WDQAH/image.png

In [ ]:
https://ds1322eu.slack.com/files/U044