In [1]:
print("tunahan")
print('pınar')
print (100)

tunahan
pınar
100

In [5]:
print('pınar')
print('tunahan')

pınar
tunahan

In [6]:
a=int(input('birinci sayıyı giriniz:'))
b=int(input('ikinci sayıyı giriniz:'))
c=int(input('üçüncü sayıyı giriniz:'))
total=a*b*c
print(total)

birinci sayıyı giriniz:12
ikinci sayıyı giriniz:13
üçüncü sayıyı giriniz:14
2184

In [11]:
w=int(input('Ağırlığınızı kilo cinsinden giriniz:'))
h=int(input('Boyunuzu metre cinsinden :'))
b_m_i=w /(h*h)
print('Body mass index :',b_m_i)

Boyunuzu metre cinsinden :175
Ağırlığınızı kilo cinsinden giriniz:75
Body mass index : 0.0024489795918367346

In [15]:
money=200
m_price=11
aft_mny=200%11
each=200//11
print('elimizdeki',money, 'ile', each, 'adet parça alabiliriz.')
print('Alışveriş sonrası elimizde kalan para',aft_mny)

elimizdeki 200 ile 18 adet parça alabiliriz.
Alışveriş sonrası elimizde kalan para 2

In [25]:
num1=int(input('birinci sayıyı giriniz:'))
num2=int(input('ikinci sayıyı giriniz:'))
print('girdiğiniz sayılar',num1,num2)
num2=num1
num1=num2
print('işlem  sonrası',num1,num2)

birinci sayıyı giriniz:12
ikinci sayıyı giriniz:13
girdiğiniz sayılar 12 13
işlem  sonrası 12 12

In [26]:
x=10
y=5
result=(x-y)*(x+y)
print(result)

75

In [52]:
word=input('enter word plase:')
s=input('choise sep crhacter:')
rep=int(input('repeat ?:'))
print (rep *word , sep = s )

enter word plase:tuna
choise sep crhacter:&
repeat ?:5
tunatunatunatunatuna

In [48]:
print(True and False and (not True and False) and not (True or False))

False

In [49]:
print(True and False and not "False" and None and ("None" or None))

False

In [50]:
print("clarusway" and 0 and not "" and False and (" " or None))

0

In [53]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)

I have 4 children and 5.00 brothers

In [56]:
sentence = "apologizing is a virtue"

print("%.21s" % sentence)  # we get first 11 characters of the string

apologizing is a virt

In [57]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [58]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [59]:
print("a"+"bc")

abc

In [60]:
 22 % 3

1

In [61]:
3*1**3

3

In [63]:
print(0xK + 0xL + 0xM)

SyntaxError: invalid hexadecimal literal (3895823575.py, line 1)

In [64]:
print(r"\nhello")

\nhello

In [66]:
başlık = "Türkiye'de Özgür Yazılımın Geçmişi"
print(başlık, "\n", "-"*len(başlık))

Türkiye'de Özgür Yazılımın Geçmişi
 ----------------------------------

In [68]:
print("new" "line" "end" , 3)

newlineend 3

In [ ]:
str1 = "clarsuway"
print(str1[::-1])

In [69]:
a b c = 1000 2000 3000 
print (a b c)

SyntaxError: invalid syntax (504935335.py, line 1)

In [70]:
print(1+4*3)

13

In [71]:
5!=6

True

In [72]:
print(‘hello’, ‘-how’, ‘are’, ‘-you’) 
print(‘hello’, ‘how’, ‘are-’, ‘you’ + ‘-‘ * 4)  
print(‘hello-‘ + ‘how-are-you’) 
print(‘hello’ + ‘-‘ + ‘how’ + ‘-‘ + ‘are’ + ‘you’)

SyntaxError: invalid character '‘' (U+2018) (1019923505.py, line 1)

In [80]:
1 or [] and not True

1

In [74]:
12 or "jk" or 234

12

In [86]:
word=input("bir sözcük giriniz")
rep=int(input("kaç tekrar"))
sepp=str(input("aradaki değeri giriniz"))
print('word',sep=sepp *5)

bir sözcük giriniztuna
kaç tekrar5
aradaki değeri giriniz/
word

In [90]:
print(5* 'tuna' , sep=/)

SyntaxError: invalid syntax (2513553767.py, line 1)

In [95]:
st1='python'
st2='pool'
print(st1*5,st2*5,sep='%'*5)

pythonpythonpythonpythonpython%%%%%poolpoolpoolpoolpool

In [ ]:
"metodlar".format()

In [96]:
saat="05:00"
yer="okul"
miktar=3

In [98]:
"ben sabah {} de uyandım. {}'a gittim. gelirken de {} kg. elma aldım'".format(saat,yer,miktar)

"ben sabah 05:00 de uyandım. okul'a gittim. gelirken de 3 kg. elma aldım'"

In [100]:
"ben sabah {saat} de uyandım. {yer}'a gittim. gelirken de {miktar} kg. elma aldım'".format(saat="06:30",yer="kütüphane",miktar=2)

"ben sabah 06:30 de uyandım. kütüphane'a gittim. gelirken de 2 kg. elma aldım'"

In [101]:
"Benim adım {} . Sabahları uyandığım zaman ilk olarak bir bakarım etrafa, sonra dişlerimi fırçalarım.\
hayat bana çok {} , kahvaltıda {} yedim , {} içtim.".format("tunahan","güzel","yımırta","çay")

'Benim adım tunahan . Sabahları uyandığım zaman ilk olarak bir bakarım etrafa, sonra dişlerimi fırçalarım.hayat bana çok güzel , kahvaltıda yımırta yedim , çay içtim.'

In [103]:
"benim {} öğrencilerim maşallahı var {}".format("güzel", "mı acaba")

'benim güzel öğrencilerim maşallahı var mı acaba'

In [104]:
x="bıyıklı"
y="gözlüklü"
stringim="benim {} öğrencilerim maşallahı var {}"
stringim.format(x,y)

'benim bıyıklı öğrencilerim maşallahı var gözlüklü'

In [105]:
phrase = "{marality} {1} {0} {condition}".format("in all", "wins", marality = "generosity", condition = "circumstances")
print(phrase)

generosity wins in all circumstances

In [106]:
a=3
b=4
print("the sum of {} + {} is = {}".format(a,b,a+b))

the sum of 3 + 4 is = 7

In [108]:
sample=f"(2**3)"
print(sample)

(2**3)

In [112]:
name = 'MARIAM'
output = f"My name is {name.capitalize()}"

print(output)

My name is {name.capitalize()}

In [117]:
name="ahmet"
tas=(f"my name is {name}")
tas

'my name is ahmet'

In [119]:
var="TunaHan".lower()
print(var)

tunahan

In [121]:
var_str='In God we Trust'
var_str.lower()
print(var_str.lower())

in god we trust

In [129]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in','know','bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.